* {
    margin:  0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0096c7;
    font-family: sans-serif;

    height: 100vh;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.2);
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: center;
    justify-content: center;

    z-index: 2;
}

.modal-container.hidde {
    opacity: 0;
    pointer-events: none;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    width: 80%;
    max-width: 400px;
    padding: 0 40px;

    background-color: #edf2f4;
}

.modal > * {
    margin: 12px;
}

.modal button {
    background-color: #0096c7;
    color: white;

    width: fit-content;
    padding: 10px 30px;
    font-size: 0.9rem;

    border: none;
    border-radius: 50px;
}
.app-structure {
    display: flex;
    flex-direction: column;

    width: 90vw;
    height: 90%;
    background-color: whitesmoke;

    padding: 16px;
    border-radius: 16px;
}

.messages {
    height: 90%;
    overflow-y: auto;
}

.message-box {
    display: flex;
    flex-direction: column;
    
    max-width: fit-content;
    
    word-wrap: break-word;
    background-color: #edf2f4;
   
    border-radius: 2rem;
    padding: 4px 24px;
    margin: 12px;
}

.message-box span {
    font-size: small;
    color: green;
}

.input {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 8px;
    margin: 16px 0px;
}

.container {
    position: relative;
    width: 80%;
}

.send {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50px;

    color: whitesmoke;
    background-color: #0096c7;

    background-image: url("./imgs/send_white.svg");
    background-repeat: no-repeat;
    background-position: center;

    transition: 30ms ease-in;
}

.send:hover {
    transform: scale(1.1);
}

.send:active {
    filter: brightness(0.9);
    transform: scale(0.9);
}

input[type="text"] {
    height: 32px;
    padding: 8px 16px;

    border: 2px solid gray;
    border-radius: 16px; 
    width: 100%;
}

input[type="text"] + label{
    display: none;
}

input[type="text"]:placeholder-shown + label{
    display: block;
    color: gray;
    position: absolute;
    top: 8px;
    left: 16px;
    
}

#message {
    z-index: -1;
}

.sidebar {
    height: 100vh;
    width: 2.5rem;
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: #edf2f4;

    overflow: auto;

    transition: 250ms ease;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    
    border-bottom: 2px solid gray;
    user-select: none;

    transition: 300ms ease;
}

.nav-item:hover {
    background-color: #0096c7;
    color: white;
}

.nav-item:active {
    filter: brightness(0.8);
}

.nav-item span {
    font-weight: bold;
}

.sidebar-nav {
    display: none;
}

.sidebar:hover {
    width: 16rem;
}

.sidebar:hover .sidebar-nav {
    display: block
}

@media screen and (min-width: 600px ) {
    .app-structure {
        max-width: 400px;
    }
}